<main id="main" class="main">
   <div class="pagetitle">
      <h1>Profil</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/acceuilannonceur">Acceuil</a></li>
            <li class="breadcrumb-item active">Profil</li>
         </ol>
      </nav>
   </div>
   <section class="section profile">
      <div class="row">
         <div class="col-xl-4">
            <div class="card">
               <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                  <img src="assets/img/profile_image.webp" alt="Profile" class="rounded-circle">
                  <h2>{{username}}</h2>
                  <h3>Annonceur</h3>
                 
               </div>
            </div>
         </div>
         <div class="col-xl-8">
            <div class="card">
               <div class="card-body pt-3">
                  <ul class="nav nav-tabs nav-tabs-bordered">
                     <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab"
                           data-bs-target="#profile-overview">Vue d'ensemble</button></li>
                     <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab"
                           data-bs-target="#profile-edit">Editer votre Profile</button></li>
                     <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab"
                           data-bs-target="#profile-settings">Voir factures</button></li>
                  
                  </ul>
                  <div class="tab-content pt-2">
                     <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        <h5 class="card-title">Détails de Profil</h5>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label ">Nom d'utilisateur</div>
                           <div class="col-lg-9 col-md-8">{{username}}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Email</div>
                           <div class="col-lg-9 col-md-8">{{email}}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Date de Naissance</div>
                           <div class="col-lg-9 col-md-8">{{ dateNaiss | date: 'yyyy-MM-dd' }}</div>
                         </div>
                         
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Télephone</div>
                           <div class="col-lg-9 col-md-8">{{tel}}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Nom d'entreprise</div>
                           <div class="col-lg-9 col-md-8">{{nomE}}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Email d'entreprise</div>
                           <div class="col-lg-9 col-md-8">{{emailE}}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Télephone d'entreprise</div>
                           <div class="col-lg-9 col-md-8">{{telE}}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Domaine d'entreprise</div>
                           <div class="col-lg-9 col-md-8">{{domaineE}}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Adresse d'entreprise</div>
                           <div class="col-lg-9 col-md-8">{{adresseE}}</div>
                        </div>

                     </div>
                     <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                        <form>
                           <div class="row mb-3">
                              <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                              <div class="col-md-8 col-lg-9">
                                 <img src="assets/img/profile-img.jpg" alt="Profile">
                                 <div class="pt-2"> <a href="#" class="btn btn-primary btn-sm"
                                       title="Upload new profile image"><i class="bi bi-upload"></i></a> <a href="#"
                                       class="btn btn-danger btn-sm" title="Remove my profile image"><i
                                          class="bi bi-trash"></i></a></div>
                              </div>
                           </div>
                           <div class="row mb-3">
                              <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom d'utilisateur</label>
                              <div class="col-md-8 col-lg-9"> <input name="fullName" type="text" class="form-control"
                                    id="fullName" [(ngModel)]="username"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                              <div class="col-md-8 col-lg-9"> <input name="email" type="email" class="form-control"
                                    id="Email" [(ngModel)]="email"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="dateNaiss" class="col-md-4 col-lg-3 col-form-label">Date de naissance</label>
                              <div class="col-md-8 col-lg-9"> <input name="dateNaiss" type="date" class="form-control"
                                    id="dateNaiss" [(ngModel)]="dateNaiss"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="tel" class="col-md-4 col-lg-3 col-form-label">Télephone</label>
                              <div class="col-md-8 col-lg-9"> <input name="tel" type="text" class="form-control"
                                    id="tel" [(ngModel)]="tel"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="company" class="col-md-4 col-lg-3 col-form-label">Nom d'Entreprise</label>
                              <div class="col-md-8 col-lg-9"> <input name="company" type="text" class="form-control"
                                    id="company" [(ngModel)]="nomE"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="EmailE" class="col-md-4 col-lg-3 col-form-label">Email d'entreprise</label>
                              <div class="col-md-8 col-lg-9"> <input name="emailE" type="email" class="form-control"
                                    id="EmailE" [(ngModel)]="emailE"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="telE" class="col-md-4 col-lg-3 col-form-label">Télephone d'entreprise</label>
                              <div class="col-md-8 col-lg-9"> <input name="telE" type="text" class="form-control"
                                    id="telE" [(ngModel)]="telE"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="domaineE" class="col-md-4 col-lg-3 col-form-label">Domaine d'entreprise</label>
                              <div class="col-md-8 col-lg-9"> <input name="domaineE" type="text" class="form-control"
                                    id="domaineE" [(ngModel)]="domaineE"></div>
                           </div>

                           <div class="row mb-3">
                              <label for="adresseE" class="col-md-4 col-lg-3 col-form-label">Adresse d'entreprise</label>
                              <div class="col-md-8 col-lg-9"> <input name="adresseE" type="text" class="form-control"
                                    id="adresseE" [(ngModel)]="adresseE"></div>
                           </div>
                           <div class="text-center"> <button type="submit" class="btn btn-primary" (click)="updateProfile()">Enregistrer</button>
                           </div>
                        </form>
                     </div>
                     
                       <div class="tab-pane fade pt-3" id="profile-settings">
                        <form>
                           <div class="row mb-3">
                              <table class="table">
                                 <thead>
                                     <tr>
                                         <th scope="col">#</th>
                                         <th scope="col">Numéro de la facture</th>
                                         <th scope="col">Nom de l'offre</th>
                                         <th scope="col">Prix en DT</th>
                                         <th scope="col">TVA</th>
                                         <th scope="col">Montant Total</th>
                                         <th scope="col">Date de paiement</th>
                                         <th scope="col">Prochaine date de facturation</th>

                                     </tr>
                                 </thead>
                                 <tbody>
                     
                                     <tr *ngFor="let facture of factures; let i = index">
                                         <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                                         <td class="center">#{{facture.num_facture }}</td>
                                         <td>{{ facture.nom_offre }}</td>
                                         <td>{{ facture.prixdt }}</td>
                                         <td>{{ facture.tva }}%</td>
                                         <td>{{ facture.total }}</td>
                                         <td>{{ facture.date_paiement  | date: 'yyyy-MM-dd' }}</td>
                                         <td>{{ facture.dateFin_paiement | date: 'yyyy-MM-dd' }}</td>

                                     </tr>
                                 </tbody>
                             </table>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>