<main id="main" style="margin-top: 100px; margin-bottom: 80px;">
    <div class="card">
        <div class="card__content">
            <div class="row row--no-gutters">
                <div class="col-md-6 order-md-2 col-12 text-center">
                    <img src="../../../assets/illustration-john-2-660b3619.png" height="50"
                        class="john-illustration flip-in-rtl">
                </div>
                <div class="col-md-6 order-md-1 col-12 ml-20">
                    <div class="card-item">
                        <div class="card-item__content">
                            <div class="card-title text-md-h5">
                                <small class="me-1">Bienvenue administrateur !</small>
                                <span>🎉</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-text mt-2">
                        
                    Vous êtes l'administrateur de la gestion des annonceurs dans Banner 🤩. Votre expertise et votre dévouement vous permettent de gérer et de superviser efficacement toutes les campagnes publicitaires de nos précieux annonceurs.</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-sm-6 col-lg-4 col-12">
                <div class="small-card">
                    <div class="card-loader">
                        <div class="progress-linear" role="progressbar" aria-hidden="true" aria-valuemin="0"
                            aria-valuemax="100">
                            <div class="progress-linear__background"></div>
                            <div class="progress-linear__indeterminate">
                                <div class="long"></div>
                                <div class="short"></div>
                            </div>
                        </div>
                    </div>
                    <div class="small-card-text d-flex align-center">
                        <span class="span">{{annonceurs.length}}  Annonceurs</span>
                        <div class="flex-grow-1"></div>
                        <div class="avatar-group">
                            <div class="avatar">
                                <img class="avatar-img" src="../../../assets/equipes.png" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <div class="small-card-text-p">
                        
                        <div class="d-flex align-center">
                            <a href="/annonceurs">Voir les annonceurs</a>
                            <div class="flex-grow-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-12">
                <div class="small-card">
                    <div class="card-loader">
                        <div class="progress-linear" role="progressbar" aria-hidden="true" aria-valuemin="0"
                            aria-valuemax="100">
                            <div class="progress-linear__background"></div>
                            <div class="progress-linear__indeterminate">
                                <div class="long"></div>
                                <div class="short"></div>
                            </div>
                        </div>
                    </div>
                    <div class="small-card-text d-flex align-center">
                        <span class="span">Campagnes des annonceurs</span>
                        <div class="flex-grow-1"></div>
                        <div class="avatar-group">
                            <div class="avatar">
                                <img class="avatar-img" src="../../../assets/campgnes.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="small-card-text-p">
                        
                        <div class="d-flex align-center">
                            <a href="/annonceursCampagnes">Voir les campagnes</a>
                            <div class="flex-grow-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-12">
                <div class="small-card">
                    <div class="card-loader">
                        <div class="progress-linear" role="progressbar" aria-hidden="true" aria-valuemin="0"
                            aria-valuemax="100">
                            <div class="progress-linear__background"></div>
                            <div class="progress-linear__indeterminate">
                                <div class="long"></div>
                                <div class="short"></div>
                            </div>
                        </div>
                    </div>
                    <div class="small-card-text d-flex align-center">
                        <span class="span">Equipes des annonceurs</span>
                        <div class="flex-grow-1"></div>
                        <div class="avatar-group">
                            <div class="avatar">
                                <img class="avatar-img" src="../../../assets/users.png" alt="">
                            </div>
                           
                        </div>
                    </div>
                    <div class="small-card-text-p">
                        
                        <div class="d-flex align-center">
                            <a href="/annonceursEquipes">Voir les équipes</a>
                            <div class="flex-grow-1"></div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

</main>