<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="login.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="wrapper">
        <i id="logo" class="fa-solid fa-sparkle" style="color: #9155fd;"></i>
        <h6 class="MuiTypography-root MuiTypography-h6 css-1cb7fve">Banner</h6>
        <form action="#" (submit)="onSubmit()">
            <div class="MuiBox-root css-1fobf8d">
                <h5 class="MuiTypography-root MuiTypography-h5 css-vsfzib">Bienvenue à <!-- -->Banner<!-- -->! 👋🏻</h5>
                <p class="MuiTypography-root MuiTypography-body2 css-4yvesp">Veuillez vous connecter à votre compte et
                    commencez l'aventure!</p>
            </div>
            <div class="field email" [class.error]="emailValid">
                <div class="input-area">
                    <input [(ngModel)]="annonceur.email" [(ngModel)]="admin.email" name="email" type="text"
                        placeholder="Adresse Email">
                    <i class="icon fas fa-envelope"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt" *ngIf="!emailValid">Email ne peut pas être vide</div>
            </div>
            <div class="field password" [class.error]="passwordValid">
                <div class="input-area">
                    <input [(ngModel)]="annonceur.password" [(ngModel)]="admin.password" name="password" type="password"
                        placeholder="Password">
                    <i class="icon fas fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt" *ngIf="!passwordValid">Mot de Passe ne peut pas être vide</div>
            </div>
            <div class="pass-txt"><a [routerLink]="['/forgotPassword']">Mot de Passe oublié?</a></div>


            <input (click)="login()" type="submit" value="Se connecter">
        </form>
        <div class="sign-txt" style="color:rgba(58, 53, 65, 0.87);">Nouveau sur notre plateforme? <a
                [routerLink]="['/register']">Créer un compte</a></div>
    </div>
</body>

</html>