<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="login.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="wrapper">
        <div class="align-items-center justify-content-center">
            <div class="logo">
                <img src="../../../assets/img/favicon.png" alt="">
                <h6 class="MuiTypography-root MuiTypography-h6 css-1cb7fve">Banner</h6>
            </div>
        </div>

        <form action="#" (submit)="onSubmit()">
            <div class="MuiBox-root css-1fobf8d">
                <h5 class="MuiTypography-root MuiTypography-h5 css-vsfzib">Bienvenue à <!-- -->Banner<!-- -->! 👋🏻</h5>
                <p class="MuiTypography-root MuiTypography-body2 css-4yvesp">Veuillez vous connecter à votre compte et
                    commencez l'aventure!</p>
            </div>
            <div class="field email">
                <div class="input-area">
                    <input [(ngModel)]="annonceur.email" [(ngModel)]="admin.email" name="email" type="text"
                        placeholder="Adresse Email">
                    <i class="icon fas fa-envelope"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt" *ngIf="!emailValid">Email ne peut pas être vide</div>
            </div>
            <div class="field password">
                <div class="input-area">
                    <input [(ngModel)]="annonceur.password" [(ngModel)]="admin.password" name="password" type="password"
                        placeholder="Password">
                    <i class="icon fas fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt" *ngIf="!passwordValid">Mot de Passe ne peut pas être vide</div>
            </div>
            <div class="field remember-me">
                <input type="checkbox" name="rememberMe" [(ngModel)]="rememberMe">
                <label class="checkbox-label">Se souvenir de moi</label>
              </div>
              


            <div class="pass-txt"><a [routerLink]="['/forgotPassword']">Mot de Passe oublié?</a></div>

            <div class="ui error message ng-binding ng-scope" ng-if="messages.error" ng-bind-html="messages.error"
                *ngIf="error" class="error" style="color: red;" ng-click="messages.error = null">{{ error }}</div>


            <input (click)="login()" type="submit" value="Se connecter">
        </form>
        <div class="sign-txt" style="color:rgba(58, 53, 65, 0.87);">Nouveau sur notre plateforme? <a
                [routerLink]="['/register']">Créer un compte</a></div>
    </div>
</body>

</html>