<main id="main" class="main">
    <div class="pagetitle">
        <h1>Equipes</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/acceuilannonceur">Accueil</a></li>
                <li class="breadcrumb-item active">Equipes</li>
            </ol>
        </nav>
    </div>
    <div *ngIf="equipes.length > 0; else noTeams">
        <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#basicModal1"><i
                class="fa fa-plus"></i>
            Créer une équipe</button>
        <section class="section">
            <div class="row align-items-top">
                <div class="col-lg-0.5"></div>
                <div class="col-lg-12 d-flex flex-wrap">
                    <div class="col-lg-3" *ngFor="let equipe of equipes">
                        <div class="card mb-5">
                            <img src="assets/img/teams_image.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h2 class="card-title">
                                    <a routerLink="/equipes/{{ equipe.nom }}/membres">{{ equipe.nom }}</a>
                                </h2>
                                <div class="cardb">
                                    <button class="card-btn" type="button"
                                        routerLink="/equipes/{{ equipe.nom }}/membres"><i
                                            class="bi bi-eye"></i></button>

                                    <button class="card-btn btn2" type="button" data-bs-toggle="modal"
                                        data-bs-target="#basicModal2" (click)="selectedEquipe = equipe"><i
                                            class="bi bi-pencil"></i></button>
                                    <button class="card-btn btn1" (click)="deleteTeam(equipe)"> <i
                                            class="bi bi-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <ng-template #noTeams>
        <section class="section min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <div class="col-lg-5">
                <h2>Aucune équipe trouvée 👥</h2>
                <button class="btn3" type="button" data-bs-toggle="modal" data-bs-target="#basicModal1"><i
                        class="fa fa-plus"></i> Créer une équipe</button>
            </div>
        </section>
    </ng-template>
</main>



<form>
    <div class="modal fade" id="basicModal1" tabindex="-1">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Créer une nouvelle équipe</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="field name" style="margin-bottom: 20px;">
                        <div class="input-area">
                            <i class="icon bi bi-people"></i>
                            <input name="teamName" type="text" placeholder="  Nom d'équipe" [(ngModel)]="teamName"
                                required>
                        </div>
                    </div>
                    <div>
                        <select name="nomCampagne" [(ngModel)]="nomCampagne">
                            <option value="">Choisir votre campagne publicitaire</option>
                            <option *ngFor="let campagne of campagnes" [value]="campagne.nom" [(ngModel)]="nomCampagne">
                                {{ campagne.nom }}</option>
                        </select>
                    </div>
                    <button type="button1" class="button1" (click)="createTeam()">Créer</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form>
    <div class="modal fade" id="basicModal2" tabindex="-1">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Modifier le nom d'équipe</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="field name">
                        <div class="input-area">
                            <input name="teamName" type="text" placeholder="Nouveau nom d'équipe"
                                [(ngModel)]="newTeamName" required>
                            <i class="bi bi-people"></i>
                        </div>
                    </div>
                    <button type="button" class="button2" (click)="updateTeam()">Modifier</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form>
    <div class="modal fade" id="basicModal3" tabindex="-1">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Inviter des membres</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="field email">
                        <div class="input-area">
                            <input name="email" type="email" placeholder="Saisir l'email" [(ngModel)]="email" required>
                            <i class="icon fa fa-group"></i>
                        </div>
                    </div>
                    <div *ngIf="message">{{ message }}</div>
                    <button type="button" class="button3" (click)="invite()">Envoyer l'invitation</button>
                </div>
            </div>
        </div>
    </div>
</form>